{% extends 'core/skeletons/base.html' %}
{% load static %}

{% block title %}Редактор{% endblock %}

{% block nav_bar %}
    {% with current=4 %}{{ block.super }}{% endwith %}
{% endblock %}

{% block intro %}
    <!-- Page Title
    ================================================== -->
    <div id="page-title">
        <div class="row">
            <div class="ten columns centered text-center">
                <h1>Редактор<span>.</span></h1>
                <p>
                    Здесь посадочная страница для редактора.
                </p>
            </div>
        </div>
    </div> <!-- Page Title End-->
{% endblock %}

{# TODO: start using standard template styles #}
{% block main %}
    <div>
        <p>
            Тут будет окошко редактора.
        </p>
        <div id="vue-main"></div>
        <script src="{% static 'editor/app.build.js' %}"></script>
    </div>
{% endblock %}