 <ul id="nav" class="nav">
    <li{% if current == 1 %} class="current"{% endif %}><a href="{% url 'core:main' %}">Главная</a></li>
{#    <li{% if current == 2 %} class="current"{% endif %}>#}
{#        <span>#}
{#            <a href="#">News</a>#}
{#        </span>#}
{#        <ul>#}
{#            <li><a href="#">News List</a></li>#}
{#            <li><a href="#">News Article</a></li>#}
{#        </ul>#}
{#    </li>#}
    <li{% if current == 3 %} class="current"{% endif %}>
        <a href="{% url 'core:authors_list' %}">Список авторов</a>
    </li>
{#    <li{% if current == 4 %} class="current"{% endif %}><a href="#">FAQ</a></li>#}
    <li{% if current == 4 %} class="current"{% endif %}>
        <span><a href="{% url 'editor:select_book' %}">Редактор</a></span>
        <ul>
            <li><a href="{% url 'editor:main' book_id=1 %}">Посадочная страница</a></li>
        </ul>
    </li>
    <li{% if current == 5 %} class="current"{% endif %}>
        <span>
            <a href="#">
                {% if user.is_authenticated %}
                    Меню пользователя
                {% else %}
                    Аутентификация
                {% endif %}
            </a>
        </span>
        <ul {% if user.is_authenticated %}class='wtf'{% endif %}>
            {% if user.is_authenticated %}
            <li class='wtf-what'>
                <div class='wtf-double'>
                    {{ user.get_full_name }}
                </div>
            </li>
            <li><a href="{% url 'accounts:sign_out' %}">Выйти</a></li>
            {% else %}
            <li><a href="{% url 'accounts:sign_in' %}">Войти</a></li>
            <li><a href="{% url 'accounts:sign_up' %}">Зарегистрироваться</a></li>
            {% endif %}
        </ul>
    </li>
</ul> <!-- end #nav -->