{% extends 'core/skeletons/base_sidebar_left.html' %}
{% load static %}

{% block nav_bar %}
    {% with current=3 %}{{ block.super }}{% endwith %}
{% endblock %}

{% block title %}Список авторов{% endblock %}

{% block intro %}
    <!-- Page Title
   ================================================== -->
    <div id="page-title">
        <div class="row">
            <div class="ten columns centered text-center">
                <h1>Авторы<span>.</span></h1>
                <p>
                    Ниже представлен список авторов, чьи произведения существуют в нашей базе на данный момент.
                </p>
            </div>
        </div>
    </div> <!-- Page Title End-->
{% endblock %}

{% block sidebar %}
    <h1>Список представленных авторов</h1>
    <p class="lead">
        Нажмите на интересующего вас автора, чтобы посмотреть его биографию и список представленных произведений.
    </p>
    <p>
        Вы можете осуществить поиск по имени или фамилии автора. Но пока эта возможность один хер не работает :D
    </p>
{% endblock %}

{% block content %}
    {% for author in authors %}
        <div class="columns portfolio-item{% if forloop.counter0|divisibleby:2 %} first{% endif %}">
            <div class="item-wrap">
                <a href="{% url 'core:author' author.id %}">
                    <img alt="" src="{% static 'core/images/portfolio/geometrics.jpg' %}">
                    <div class="overlay"></div>
                    <div class="link-icon"><i class="fa fa-link"></i></div>
                </a>
                <div class="portfolio-item-meta">
                    <h5><a href="{% url 'core:author' author.id %}">{{ author.last_name }}</a></h5>
                    <p>{{ author.first_name }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
