{% extends 'core/skeletons/base_sidebar_left.html' %}
{% load static %}


{% block title %}ТИПА АВТОР{% endblock %}

{% block intro %}
    <!-- Page Title
    ================================================== -->
    <div id="page-title">
        <div class="row">
            <div class="ten columns centered text-center">
                <h1>Страница автора<span>.</span></h1>
                <p>
                    Придумай блин уже нормальное название для заголовка этой страницы, блеат.
                </p>
            </div>
        </div>
    </div> <!-- Page Title End-->
{% endblock %}

{% block sidebar %}
    <h1>{{ author }}</h1>
    <div class="entry-description">
        <p>
            Здесь наверное должна быть биография, но пока её нет, так что иди нахер.
        </p>
    </div>
    <ul class="portfolio-meta-list">
        <li><span>Дата рождения: </span>{{ author.date_of_birth }}</li>
        <li><span>Дата смерти: </span>{{ author.date_of_death }}</li>
    </ul>
{% endblock %}

{% block content %}
    <div class="entry-media">
        <img src="{% static 'core/images/portfolio/entries/geometric-backgrounds-01.jpg' %}" alt="" />
        <img src="{% static 'core/images/portfolio/entries/geometric-backgrounds-02.jpg' %}" alt="" />
    </div>
    <div class="entry-excerpt">
        <p>
            Тут наверное должен быть список книг этого автора, но не сейчас.
        </p>
    </div>
{% endblock %}

{% block content_footer %}
    <ul class="post-nav cf">
        <li class="prev">
            <a href="#" rel="prev">
                <strong>Предыдущий</strong> автор
            </a>
        </li>
        <li class="next">
            <a href="#" rel="next">
                <strong>Следующий</strong> автор
            </a>
        </li>
    </ul>
{% endblock %}