{% extends 'core/skeletons/base_sidebar_right.html' %}
{% load static %}


{% block title %}News List{% endblock %}

{% block intro %}
    <!-- Page Title
    ================================================== -->
    <div id="page-title">
        <div class="row">
            <div class="ten columns centered text-center">
                <h1>News List<span>.</span></h1>
                <p>
                    Aenean condimentum, lacus sit amet luctus lobortis, dolores et quas molestias excepturi
                    enim tellus ultrices elit, amet consequat enim elit noneas sit amet luctu.
                </p>
            </div>
        </div>
    </div> <!-- Page Title End-->
{% endblock %}

{% block content %}
    <article class="post">
        <div class="entry-header cf">
            <h1>
                <a href="single.html" title="">
                    Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin auctor.
                </a>
            </h1>
            <p class="post-meta">
                <time class="date" datetime="2014-01-14T11:24">Jan 14, 2014</time>
                /
                <span class="categories">
             <a href="#">Design</a> /
             <a href="#">User Inferface</a> /
             <a href="#">Web Design</a>
             </span>
            </p>
        </div>
        <div class="post-thumb">
            <a href="single.html" title="">
                <img src="{% static 'core/images/post-image/post-image-1300x500-01.jpg' %}" alt="post-image" title="post-image"></a>
        </div>
        <div class="post-content">
            <p>
                Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
                cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a
                ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
            </p>
        </div>
    </article> <!-- post end -->
    <article class="post">
        <div class="entry-header cf">
            <h1>
                <a href="single.html" title="">
                    Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin auctor.
                </a>
            </h1>
            <p class="post-meta">
                <time class="date" datetime="2014-01-14T11:24">Jan 14, 2013</time>
                /
                <span class="categories">
             <a href="#">Design</a> /
             <a href="#">User Inferface</a> /
             <a href="#">Web Design</a>
             </span>
            </p>
        </div>
        <div class="post-thumb">
            <a href="single.html" title="">
                <img src="{% static 'core/images/post-image/post-image-1300x500-02.jpg' %}" alt="post-image" title="post-image">
            </a>
        </div>
        <div class="post-content">
            <p>
                Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
                cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a
                ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
            </p>
        </div>
    </article> <!-- post end -->
    <article class="post">
        <div class="entry-header cf">
            <h1>
                <a href="single.html" title="">
                    Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin auctor.
                </a>
            </h1>
            <p class="post-meta">
                <time class="date" datetime="2014-01-14T11:24">Jan 14, 2014</time>
                /
                <span class="categories">
             <a href="#">Design</a> /
             <a href="#">User Inferface</a> /
             <a href="#">Web Design</a>
             </span>
            </p>
        </div>
        <div class="post-thumb">
            <a href="single.html" title="">
                <img src="{% static 'core/images/post-image/post-image-1300x500-03.jpg' %}" alt="post-image" title="post-image">
            </a>
        </div>
        <div class="post-content">
            <p>
                Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
                cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a
                ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
            </p>
        </div>
    </article> <!-- post end -->

    {% block pagination %}
        {% include 'core/blocks/pagination.html' %}
    {% endblock %}
{% endblock %}

{% block sidebar %}
    {% include 'core/blocks/sidebar_widgets/search.html' %}
    {% include 'core/blocks/sidebar_widgets/text.html' %}
    {% include 'core/blocks/sidebar_widgets/categories.html' %}
    {% include 'core/blocks/sidebar_widgets/tag_cloud.html' %}
    {% include 'core/blocks/sidebar_widgets/photo_stream.html' %}
{% endblock %}