{% load static %}
<head>
    <!--- Basic Page Needs
    ================================================== -->
    <title>{% block title %}<p style="color:red">!!TEMPLATE BASE MAFACKA!!</p>{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS
    ================================================== -->
{% block css %}
    <link rel="stylesheet" href="{% static 'catalog/css/default.css' %}">
    <link rel="stylesheet" href="{% static 'catalog/css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'catalog/css/media-queries.css' %}">
{% endblock %}
    <!-- Script
    ================================================== -->
{% block js %}
    <script src="{% static 'catalog/js/modernizr.js' %}"></script>
{% endblock %}
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="{% static 'catalog/images/favicon.ico' %}">
</head>